{% extends "base.html" %}

{% block main %}
<form action="{{ url_for('edit', jugador_id=jugador_id) }}" method="post">
  {{ form.csrf_token }}
  <h3>EDITAR JUGADOR</h3>
  <div class="row align-items-left">
    <div class="col-sm-2">
      {{ form.nombre.label }} {{ form.nombre(class="form-control") }}
    </div>
    <div class="col-sm-2">
      {{ form.numero.label }} {{ form.numero(class="form-control") }}
    </div>
  </div>
  <br>
  <div>
    {{ form.submit(class="btn btn-primary") }}
    <a href="{{ url_for('update') }}" class="btn btn-danger">Cancelar</a>
  </div>
</form>
{% endblock %}