{% extends "base.html" %}

{% block main %}
<form action="{{ url_for('sorteo') }}" method="post">
    {{ form.csrf_token }}
    <div>
        <div class="d-flex flex-rowd-flex align-items-center">
            <div class="p-2"><h3>Tipo de partido:</h3></div>
            <div class="p-2"><input type="radio" name="tipo_juego" id="option1" value="5"><span>5v5</span></div>
            <div class="p-2"><input type="radio" name="tipo_juego" id="option2" value="7" checked><span>7v7</span></div>
        </div>
        <hr>
        <div class="row">
            {% for players in jugadores | slice(2) %}
            <div class="col-sm-3">
                {% for jugador in players %}
                    <input type="checkbox" value="{{ jugador.id }}" name='lista_presentes'> . {{ jugador.nombre }} (#{{ jugador.numero_camiseta }}) 
                    <br>
                {% endfor%}
            </div>
            {% endfor%}
        </div>
        <hr>
        <div class="col">
            {{ form.submit(class="btn btn-danger") }}
        </div>
    </div>
</form>
{% endblock %}

