{% extends "base.html" %}

{% block main %}
<div>
    <div class="d-flex flex-rowd-flex align-items-center">
        <h3>MIEMBROS REGISTRADOS</h3>
    </div>
    <hr>
    <table class="table table-striped">
        <tbody>
            {% for jugador in jugadores %}
            <tr>
                <th scope="row">{{ jugador.nombre }} (#{{ jugador.numero_camiseta }})</th>
                <td class="align-self-end">
                    <a href="{{ url_for('edit', jugador_id=jugador.id) }}"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="{{ url_for('delete', jugador_id=jugador.id) }}" style="color:red"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div>
        <a href="{{ url_for('index') }}" class="btn btn-primary">Volver</a>
    </div>
</div>
{% endblock main %}